body {
    background-image: url(spainRoad.png);
    background-repeat: no-repeat;
    background-size: 1000px 575px;
}

#FIRE {
    margin-top:-8px;
    margin-left:-8px;
    height: 550px;
    width: 1000px;
}
button {
    position: relative;
    margin: .5em;
}

#buttonPanel {
    position: absolute;
    top: 490px;
    left: 350px;
}

#reset {
    position: absolute;
    top: 140px;
    left: 760px;
}

#momCar {
    position: absolute;
}